.error{
    color: red !important;
}

.required-star:after{
    color: red;
    content: " *";
}

/* .has-error input, .has-error textarea {
    color: red !important;
    border: 1px solid red;  
} */